<mat-sidenav-container style="height: calc(100vh - 20px)">
  <div class="container">
    <h1>Login</h1>
    <div class="form_box">
      <mat-form-field>
        <mat-label for="email_in">Email address</mat-label>
        <input matInput type="email" class="form_box" id="email_in" [(ngModel)]="emailField" name="email1">
      </mat-form-field>
    </div>
    <div class="form_box">
      <mat-form-field>
        <mat-label for="pswd_in">Password</mat-label>
        <input matInput type="password" class="form_box" id="pswd_in" [(ngModel)]="pswdField" name="pswd1">
      </mat-form-field>
    </div>
    <div class="form_group">
      <button mat-stroked-button type="button" class="login_btn" (click)="onLogin()">Login</button>
    </div>
    <div class="form_group">
      <button mat-stroked-button type="button" class="register_btn" (click)="onReg()">Register</button>
    </div>
  </div>
</mat-sidenav-container>