button.home_button { 
    background: #4e4e4e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
    margin-left: 50px;
}

button.home_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

div.week_box {
    border: solid;
    background: #7f7f7f;
    min-width: 90vw;
    height: auto;
    overflow-x: visible;
    overflow-y: hidden;
    white-space:nowrap;
    margin: 50px;
    min-height: 50vh;
    padding: 5px;
}

div.desc_box{
    overflow: visible;
    white-space: pre-wrap;
    border:dashed;
    border:white;
    max-width: inherit;
}

div.weekday_box {
    /*float: left;*/
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
    min-width: 200px;
    width: 14.05%;
    margin: 2px;
    text-align: center;
    /*border: solid;*/
}
div.weekday_box::after {
    content: "";
    clear: both;
    display: table;
}

button.delete_button{
    background: #a40000;
    text-align: center;
}

mat-accordion {
    padding: 2px;
}