<div class="container">
  <button (click)="createTask()">Create Task</button>
  <button (click)="logout()">Logout</button>

  <mat-card *ngIf="AllTasks">
    <div class="table-box">
      <table mat-table [dataSource]="AllTasks">
        <ng-container matColumnDef="Sunday">
          <th mat-header-cell *matHeaderCellDef><p>Sunday</p></th>
          <td mat-cell *matCellDef="let element"><p>oof</p></td>
        </ng-container>

        <ng-container matColumnDef="Monday">
          <th mat-header-cell *matHeaderCellDef><p>Monday</p></th>
          <td mat-cell *matCellDef="let element"><p>oof</p></td>
        </ng-container>

        <ng-container matColumnDef="Tuesday">
          <th mat-header-cell *matHeaderCellDef><p>Tuesday</p></th>
          <td mat-cell *matCellDef="let element"><p>oof</p></td>
        </ng-container>

        <ng-container matColumnDef="Wednesday">
          <th mat-header-cell *matHeaderCellDef><p>Wednesday</p></th>
          <td mat-cell *matCellDef="let element"><p>oof</p></td>
        </ng-container>

        <ng-container matColumnDef="Thursday">
          <th mat-header-cell *matHeaderCellDef><p>Thursday</p></th>
          <td mat-cell *matCellDef="let element"><p>oof</p></td>
        </ng-container> 

        <ng-container matColumnDef="Friday">
          <th mat-header-cell *matHeaderCellDef><p>Friday</p></th>
          <td mat-cell *matCellDef="let element"><p>oof</p></td>
        </ng-container>

        <ng-container matColumnDef="Saturday">
          <th mat-header-cell *matHeaderCellDef><p>Saturday</p></th>
          <td mat-cell *matCellDef="let element"><p>oof</p></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>